<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client>
            <endpoint address="http://ALICE002/ASKIT" binding="basicHttpBinding"
                contract="dotLAND_ASKIT_serviceUser.IService1" name="ChatConfig" />
        </client>
    </system.serviceModel>
</configuration>
